dir_path=$(cd "$(dirname "$0")" && pwd)


export ACCESS_TOKEN=""
export PUID=""
export GIN_MODE=release
export CHATGPT_BASE_URL="http://127.0.0.1:8080/api/"


echo "##################################"
echo "###### RUN proxy server ##########"
echo "##################################"


cd "$dir_path/../proxy"
go build -ldflags '-w -s' -o $dir_path/proxy $dir_path/../proxy
chmod +x $dir_path/proxy

proxy_pid=$(ps -ef | awk '/.\/proxy/{print $2}')

kill $proxy_pid

sleep 3

nohup $dir_path/proxy > /tmp/proxy.log &

echo "start proxy on port 8080 done"
